<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="px-2">
  <div class="md:flex-1 h-64 mt-10 md:mt-20 rounded-3xl flex border-l-4 border-indigo-700 flex-row bg-indigo-50">
<div class="flex flex-col justify-center h-full">
<a target="_blank" href="/views/Beki.html">
 <img src="/public/images/developer.jpg" class="rounded-full w-24 h-24 object-cover">
</a>

</div>
<div class="flex-1 flex  flex-col items-center h-full justify-center ml-2">
  <strong class="text-2xl">Developer</strong>
  <strong class="text-xl text-indigo-700">Bereket Girma</strong>
<small>
  <strong>Hi</strong>, my <strong>name</strong> is <strong>Bereket Girma</strong>. I am <strong>talented</strong> in full-stack <strong>web development</strong> and beautiful <strong>UX a</strong>. I create apps that truly solve real human problems.
</small><br>
  <div class="flex flex-col">
    <strong><i class="fas fa-phone"></i>  +251-703808041</strong>
    <strong class="flex flex-row gap-2 items-center"><i class="fas fa-envelope"></i> bereketgrima108@gmail.com</strong>
  </div>

</div>
  </div>
  </div>

</body>
</html>